.header {
    background: linear-gradient(130deg, $medium-blue-1, $medium-blue-2);
  
    & .__title {
      margin-left: 2em;
      border-left: 1px solid $lighter-blue-1;
      color: white;
      padding-left: 0.8em;
  
    }

    & .__close-btn {
        color: $lighter-blue-4;
        right: 2rem;
    }
}