
body {
  font-size: 50%;
  display: grid;
  padding: 0px;
  margin: 0px;
  background-color: $dark-grey-3;
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head" 1fr
                 "nav  main" 4fr
                 "nav  foot" 1fr
                 / 1fr 5fr;
}

.header {
  background-color: red;
  grid-area: head;
}

.day-selection-bar {
  background-color: yellow;
  grid-area: nav;
}

.day-card {
  background-color: blue;
  grid-area: main;
}

.footer {
  background-color: pink;
  grid-area: foot;
}


