
body {
  font-size: 65%;
  display: grid;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(110deg, $medium-grey-2, $medium-grey-1);
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head timer" 2fr
                 "nav  main main" 12fr
                 "nav  foot foot" 1fr
                 / 1fr 3.5fr 1.5fr;
}

.header {
  grid-area: head;
}

.day-selection-bar {
  grid-area: nav;
}

.day-card {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

.next-task {
  grid-area: timer;
}


