
body {
  font-size: 50%;
  display: grid;
  padding: 0px;
  margin: 0px;
  background-color: $medium-grey-2;
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head timer" 2fr
                 "nav  main main" 12fr
                 "nav  foot foot" 1fr
                 / 1fr 3.5fr 1.5fr;
}

.header {
  background-color: red;
  grid-area: head;
}

.day-selection-bar {
  background-color: yellow;
  grid-area: nav;
}

.day-card {
  background-color: blue;
  grid-area: main;
}

.footer {
  background-color: pink;
  grid-area: foot;
}

.next-task {
  background-color: orange;
  grid-area: timer;
}


