

$dark-grey-1: #282726;
$dark-grey-2: #707070;
$dark-grey-3: rgb(58, 56, 53);

$medium-grey-1: #86817C;
$medium-grey-2: #D9D9D9;
$medium-grey-3: #B9B9B9;

$light-grey-1: #D6CAB0;
$light-grey-2: #EDF5E1;
$light-grey-3: #F9F9F9;

$dark-blue-1: #717AFF;
$dark-blue-2: #3400FF;
$dark-blue-3: #4F637A;
$dark-blue-4: #284880;

$medium-blue-1: #5B9CFF;
$medium-blue-2: #619AF0;
$medium-blue-3: #A4AAF9;
$medium-blue-4: #448CF8;
$medium-blue-5: #2D7AFF;
$medium-blue-6: #84AEFF;

$light-blue-1: #A5C3F7;
$light-blue-2: #73B9FF;
$light-blue-3: #8AB5FF;
$light-blue-4: #6CA3FF;
$light-blue-5: #ADDEFF;

$lighter-blue-1: #B8F5FF;
$lighter-blue-2: #B5C9FF;
$lighter-blue-3: #DFE8FF;
$lighter-blue-4: #E0F9FF;
$lighter-blue-5: #E4EFFF;

$turquoise-1: #A1FFFF;
$turquoise-2: #D5FFFF;

$medium-green-1: #65C954;

$light-green-1: #C0FFB5;

$medium-red-1: #E15050;

$light-red-1: #FF8080;

$light-purple-1: #8E84EB;