

$dark-grey-1: #707070;

$dark-blue-1: #717AFF;
$dark-blue-2: #3400FF;
$dark-blue-3: #4F637A;
$dark-blue-4: #284880;

$medium-blue-1: #5B9CFF;
$medium-blue-2: #619AF0;
$medium-blue-3: #A4AAF9;
$medium-blue-4: #448CF8;
$medium-blue-5: #2D7AFF;
$medium-blue-6: #84AEFF;

$light-blue-1: #A5C3F7;
$light-blue-2: #73B9FF;
$light-blue-3: #8AB5FF;
$light-blue-4: #6CA3FF;
$light-blue-5: #ADDEFF;
$light-blue-6: #C3D9FF;

$lighter-blue-1: #B8F5FF;
$lighter-blue-2: #B5C9FF;
$lighter-blue-3: #DFE8FF;
$lighter-blue-4: #E0F9FF;
$lighter-blue-5: #E4EFFF;

$turquoise-1: #A1FFFF;
$turquoise-2: #D5FFFF;

$light-green-1: #C0FFB5;
// $light-green-1: aquamarine;

$light-red-1: #FF8080;
// $light-red-1: #F05ADF;

$light-purple-1: #8E84EB;

$light-pink-1: #FBC6FF;