@charset "UTF-8";
body {
  font-size: 65%;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(110deg, #D9D9D9, #86817C);
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head timer" 2fr "nav  main main" 12fr "nav  foot foot" 1fr / 1fr 3.5fr 1.5fr;
}

.header {
  grid-area: head;
}

.day-selection-bar {
  grid-area: nav;
}

.day-card {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

.next-task {
  grid-area: timer;
}

.header {
  background: linear-gradient(130deg, #282726, #3a3835 125%);
  padding: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 95% 100%, 0% 100%);
}

.header .__mainTitle {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  margin-left: 3em;
  min-width: 30%;
  height: 4em;
}

.header .__mainTitle h1 {
  position: absolute;
  margin: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 1px solid #54504C;
  font-size: 4em;
  color: #F9F9F9;
  white-space: pre;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 0.3em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .__mainTitle .weekx {
  opacity: 0;
}

.header .__mainTitle:hover > .weekx {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .__mainTitle:hover > .yourweek {
  opacity: 0;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .__time-container {
  width: 50%;
  height: 4em;
  position: relative;
  padding: 5%;
  vertical-align: middle;
}

.header .__time-container .__text-second {
  color: #D6CAB0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2em;
  height: 100%;
  font-weight: 100;
  font-size: 3em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

.header .__time-container .__date {
  position: absolute;
  opacity: 1;
}

.header .__time-container .__time {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .__time-container:hover > .__time {
  opacity: 1;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.day-selection-bar {
  color: #D6CAB0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  background-color: #54504C;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.day-selection-bar .__day-button {
  -webkit-box-shadow: 1px 0px 1px 1px #4040400d;
          box-shadow: 1px 0px 1px 1px #4040400d;
  text-align: center;
  background: linear-gradient(110deg, #282726, #3a3835);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  height: 14.25%;
}

.day-selection-bar .__day-button:hover {
  background: linear-gradient(110deg, #3a3835, #282726);
}

.day-selection-bar .__day-button:active {
  -webkit-box-shadow: 0px 0px transparent;
          box-shadow: 0px 0px transparent;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.day-selection-bar .__day-button h2 {
  font-size: 2.5em;
  margin: 0.5em;
}

.day-selection-bar .__day-button div {
  position: absolute;
  top: 70%;
  width: 100%;
  margin-left: auto;
  font-size: 1.3em;
}

.day-selection-bar .__day-button div span {
  color: #EDF5E1;
  font-weight: 800;
}

.day-card {
  background-color: #F9F9F9;
  margin: 1em;
  display: -ms-grid;
  display: grid;
  min-width: 0;
  min-height: 0;
  position: relative;
  grid-template: "titleT titleD titleD titleS" 1fr "task task schedule schedule" 9fr / 3fr 1fr 1fr 3fr;
}

.day-card .__title-task {
  grid-area: titleT;
  background-color: red;
}

.day-card .__title-day {
  grid-area: titleD;
  background-color: pink;
}

.day-card .__title-schedule {
  grid-area: titleS;
  background-color: violet;
}

.day-card .__tasks-box {
  grid-area: task;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
}

.day-card .__schedule {
  grid-area: schedule;
  background-color: yellow;
}

.day-card .task {
  position: relative;
  height: 20%;
  margin: 0.2em;
  border-radius: 0.5em;
  background-color: yellow;
}

.day-card .task .__title {
  position: absolute;
  top: 0;
  left: 2em;
  width: 100%;
  height: 50%;
  background-color: #D9D9D9;
}

.day-card .task .__start-time {
  position: absolute;
  top: 0;
  left: 2em;
  width: 100%;
  top: 50%;
  height: 50%;
  background-color: #D9D9D9;
}

.day-card .task .__side-bar {
  position: absolute;
  width: 2em;
  background-color: #3a3835;
  height: 100%;
  overflow: hidden;
}

.day-card .task .__side-bar:hover {
  width: 30%;
  z-index: 100;
}

.day-card .task:nth-child(odd) > .__title, .day-card .task:nth-child(odd) .__start-time {
  background-color: #F9F9F9;
}

.next-task {
  text-align: center;
  position: relative;
  display: block;
  text-overflow: clip;
}

.next-task h1 {
  font-size: 2em;
  overflow: hidden;
  white-space: pre;
  position: absolute;
  color: #F9F9F9;
  background: linear-gradient(135deg, #282726 -325%, #3a3835);
  width: 100%;
  height: 40%;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.next-task h1:after {
  content: "⟹";
  position: relative;
  opacity: 0;
  left: -0.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.next-task:hover > h1:after {
  left: 0.5em;
  opacity: 1;
}

.next-task .__task-info {
  position: absolute;
  height: 60%;
  bottom: 0;
  margin-left: 2em;
  width: 80%;
}

.next-task .__task-info .__task-title {
  color: #282726;
  font-size: 1.7em;
  height: 1.3em;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;
  overflow-y: hidden;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.next-task .__task-info .__timer {
  color: #282726;
  font-size: 1.8em;
  font-weight: 100;
}

.footer {
  background: linear-gradient(130deg, #3a3835, #282726 125%);
}
/*# sourceMappingURL=main.css.map */