@charset "UTF-8";
body {
  font-size: 60%;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(110deg, #D9D9D9 20%, #F9F9F9 250%);
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head timer" 2fr "nav  main main" 12fr "nav  foot foot" 1fr / 1fr 3.5fr 1.5fr;
}

.header {
  grid-area: head;
}

.day-selection-bar {
  grid-area: nav;
}

.day-card {
  grid-area: main;
}

.footer {
  grid-area: foot;
}

.next-task {
  grid-area: timer;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(250, 240, 230, 0.4);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgba(250, 240, 230, 0.6);
}

.header {
  background: linear-gradient(130deg, #282726, #3a3835 125%);
  padding: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header .__mainTitle {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  margin-left: 3em;
  min-width: 30%;
  height: 4em;
}

.header .__mainTitle h1 {
  position: absolute;
  margin: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 1px solid #54504C;
  font-size: 3.5em;
  color: #F9F9F9;
  white-space: pre;
  font-weight: 100;
  text-transform: uppercase;
  padding-left: 0.3em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .__mainTitle .weekx {
  opacity: 0;
}

.header .__mainTitle:hover > .weekx {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .__mainTitle:hover > .yourweek {
  opacity: 0;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header .__time-container {
  width: 50%;
  height: 4em;
  position: relative;
  padding: 5%;
  vertical-align: middle;
}

.header .__time-container .__text-second {
  color: #D6CAB0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.2em;
  height: 100%;
  font-weight: 100;
  font-size: 2.5em;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

.header .__time-container .__date {
  position: absolute;
  opacity: 1;
}

.header .__time-container .__time {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .__time-container:hover > .__time {
  opacity: 1;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.day-selection-bar {
  color: #D6CAB0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  background-color: #54504C;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.day-selection-bar .__day-button {
  -webkit-box-shadow: 1px 0px 1px 1px #4040400d;
          box-shadow: 1px 0px 1px 1px #4040400d;
  text-align: center;
  background: linear-gradient(110deg, #282726, #3a3835);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  height: 14.2%;
  cursor: pointer;
}

.day-selection-bar .__day-button:hover {
  background: linear-gradient(110deg, #3a3835, #282726);
}

.day-selection-bar .__day-button:active {
  -webkit-box-shadow: 0px 0px transparent;
          box-shadow: 0px 0px transparent;
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
}

.day-selection-bar .__day-button h2 {
  font-size: 2.5em;
  margin: 0.5em;
}

.day-selection-bar .__day-button div {
  position: absolute;
  top: 70%;
  width: 100%;
  margin-left: auto;
  font-size: 1.3em;
  text-transform: none;
}

.day-selection-bar .__day-button div span {
  color: #EDF5E1;
  font-weight: 800;
}

.day-card {
  background-color: #B9B9B9;
  margin: 0em;
  display: -ms-grid;
  display: grid;
  min-width: 0;
  min-height: 0;
  position: relative;
  grid-template: "titleT titleD titleD titleS" 1fr "task task schedule schedule" 14fr / 3fr 1fr 1fr 3fr;
}

.day-card .__title-task {
  grid-area: titleT;
  background-color: #54504C;
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 1rem;
  font-size: 2.5em;
  color: #F9F9F9;
}

.day-card .__title-day {
  grid-area: titleD;
  background-color: #D9D9D9;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #54504C;
}

.day-card .__title-schedule {
  grid-area: titleS;
  background-color: #54504C;
  text-align: right;
  font-weight: 900;
  text-transform: uppercase;
  padding-right: 1rem;
  font-size: 2.5em;
  color: #F9F9F9;
}

.day-card .__tasks-box {
  grid-area: task;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #86817C;
}

.day-card .__schedule {
  grid-area: schedule;
  background-color: yellow;
}

.task {
  position: relative;
  height: 20%;
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 1px solid rgba(134, 129, 124, 0.4);
          box-shadow: 0px 1px solid rgba(134, 129, 124, 0.4);
}

.task:not(:last-child) {
  margin-bottom: 0.5em;
}

.task .__title {
  position: absolute;
  top: 0;
  z-index: 1;
  overflow: auto;
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  color: #282726;
  margin-left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-left: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: underline;
  font-size: 1.6em;
  height: 50%;
}

.task .__start-time {
  position: absolute;
  top: 0;
  font-weight: 900;
  font-size: 1.5em;
  z-index: 1;
  color: #86817C;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  right: 6rem;
  height: 50%;
}

.task .__more-button {
  border-radius: 50%;
  background-color: #F9F9F9;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 1.3rem;
  width: 1.3rem;
  font-weight: 900;
  font-size: 1.55em;
  color: #54504C;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  cursor: pointer;
}

.task .__more-button:hover {
  color: #F9F9F9;
  background-color: #54504C;
}

.task .__side-bar {
  position: absolute;
  width: 0;
  text-align: center;
  background-color: #3a3835;
  height: 100%;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.task .__side-bar .__complete-btn {
  white-space: nowrap;
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #3a3835;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task .__side-bar .__complete-btn:hover {
  background-color: darkgreen;
}

.task .__side-bar .__complete-btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.task .__side-bar .__remove-btn {
  white-space: nowrap;
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #3a3835;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task .__side-bar .__remove-btn:hover {
  background-color: darkred;
}

.task .__side-bar .__remove-btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.task .__side-bar .__icon {
  position: absolute;
  left: 0;
  padding: 0;
  font-weight: 100;
  font-size: 2em;
  color: #F9F9F9;
  width: 100%;
  height: 70%;
}

.task .__side-bar .__label {
  position: absolute;
  left: 0;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 900;
  color: #F9F9F9;
  width: 100%;
  top: 65%;
}

.task .__tab-main {
  position: absolute;
  background-color: #54504C;
  max-width: 1em;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  padding-left: 0.075em;
  padding-right: 0.075em;
  color: #F9F9F9;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  z-index: 20;
  height: 100%;
  cursor: pointer;
}

.day-card .__schedule {
  background-color: #F9F9F9;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-template: "labels spans" 1fr / 1fr 9fr;
}

.day-card .__schedule .__hours-labels {
  grid-area: labels;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(120deg, rgba(185, 185, 185, 0.8), rgba(134, 129, 124, 0.8) 180%);
}

.day-card .__schedule .__hours-labels .__label {
  text-align: center;
  -webkit-transform: translateY(90%);
          transform: translateY(90%);
  width: 100%;
  height: 16.7%;
  font-weight: 300;
  color: #282726;
  font-size: 1.3em;
  text-decoration: underline;
}

.day-card .__schedule .__hour-spans {
  grid-area: spans;
  position: relative;
}

.day-card .__schedule .__hour-spans .__4-hours {
  height: 16.7%;
}

.day-card .__schedule .__hour-spans .__4-hours:not(:last-child) {
  border-bottom: 1px solid #86817C;
}

.day-card .__schedule .__tasks-spans-box {
  position: absolute;
  left: 10%;
  width: 90%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.day-card .__schedule .__tasks-spans-box .__task-spans {
  position: absolute;
  border-radius: 0rem;
  border: 1px solid #86817C;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.day-card .__schedule .__tasks-spans-box .__task-spans:hover {
  -webkit-box-shadow: 0.1rem 0.2rem rgba(134, 129, 124, 0.2);
          box-shadow: 0.1rem 0.2rem rgba(134, 129, 124, 0.2);
  border: 1px solid #D9D9D9;
}

.day-card .__schedule .__tasks-spans-box #task1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 5%;
  height: 30%;
  top: 33.6%;
  background: linear-gradient(110deg, linen, darkred 550%);
}

.day-card .__schedule .__tasks-spans-box #task2 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  width: 5%;
  height: 25%;
  top: 16.7%;
  background: linear-gradient(110deg, linen, darkblue 550%);
}

.day-card .__schedule .__tasks-spans-box #task3 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  width: 5%;
  height: 15%;
  top: 50.5%;
  background: linear-gradient(110deg, linen, darkgreen 550%);
}

.day-card .__schedule .__tasks-spans-box #task4 {
  -webkit-transform: translateX(240%);
          transform: translateX(240%);
  width: 5%;
  height: 25%;
  top: 59.1%;
  background: linear-gradient(110deg, linen, darkorange 550%);
}

.next-task {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-overflow: clip;
  cursor: pointer;
}

.next-task h1 {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  white-space: pre;
  position: absolute;
  color: #F9F9F9;
  background: linear-gradient(135deg, #282726, #54504C);
  width: 100%;
  height: 40%;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.next-task h1:after {
  content: "⟹";
  position: relative;
  opacity: 0;
  left: -0.5em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.next-task:hover > h1:after {
  left: 0.5em;
  opacity: 1;
}

.next-task .__task-info {
  position: absolute;
  height: 60%;
  bottom: 0;
  width: 80%;
  margin-left: 10%;
}

.next-task .__task-info .__task-title {
  color: #282726;
  font-size: 1.7em;
  height: 1.3em;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;
  overflow-y: hidden;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.next-task .__task-info .__timer {
  color: #282726;
  font-size: 1.8em;
  font-weight: 100;
}

.footer {
  background: linear-gradient(130deg, #3a3835, #282726 125%);
}
/*# sourceMappingURL=main.css.map */