body {
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    font-family: "Calibri", serif;

    & .header {
        width: 100vw;
        height: 15vh;
    }
    
    & .main {
        background-color: red;
        width: 100vw;
        height: 90vh;
    }

}
