.upper {
  text-transform: uppercase;
}

.no-marg {
  margin: 0;
}

.no-padd {
  padding: 0;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.transi-03 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transi-05 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hz-align-text {
  text-align: center;
}

.hz-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hz-align-margins {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vt-align-margins {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.vt-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-5 {
  font-size: 5em;
}

.fs-3 {
  font-size: 3em;
}

.fs-2 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-175 {
  font-size: 1.75em;
}

.of-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-y-hidden {
  overflow-y: hidden;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.fw-1 {
  font-weight: 100;
}

.fw-5 {
  font-weight: 500;
}

.fw-9 {
  font-weight: 900;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-15 {
  z-index: 15;
}

.red {
  background-color: red;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.br-50 {
  border-radius: 50%;
}

.ws-pre {
  white-space: pre;
}

.ws-no-wrap {
  white-space: nowrap;
}

.border-grey-1 {
  border: 1px solid #707070;
}

.border-grey-05 {
  border: 0.5px solid #707070;
}

.opacity-05 {
  opacity: 0.5;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.col-1-of-1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-1-of-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-1-of-3 {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

body {
  font-size: 50%;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: "Calibri", serif;
}

body .header {
  width: 100vw;
  height: 15vh;
}

.header {
  background: linear-gradient(130deg, #5B9CFF, #619AF0);
}

.header .__title-main {
  margin-left: 2em;
  border-left: 1px solid #B8F5FF;
  color: white;
  padding-left: 0.8em;
}

.header .__close-btn {
  color: #E0F9FF;
  right: 2rem;
}

.main-container {
  background-color: white;
  padding: 1rem;
  width: calc(100vw - 2rem);
  height: calc(85vh - 2rem);
  overflow: auto;
  color: #707070;
  font-weight: 300;
  font-family: 'Ebrima', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
}

.main-container h3 {
  font-size: 1.45em;
  margin: 0;
  font-weight: 300;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.main-container .__title {
  border-radius: 0.5rem;
  border: 0.5px solid #707070;
  padding: 0.2rem;
  width: calc(100% - 0.4rem);
  font-size: 1.65em;
  color: #707070;
  font-family: 'Trebuchet MS', serif;
  margin-bottom: 1.5rem;
}

.main-container .__desc {
  text-justify: left;
  width: calc(100% - 1rem);
  padding: 0.5rem;
  font-size: 1.45em;
  color: #707070;
  font-family: 'Trebuchet MS', serif;
  overflow: auto;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  resize: none;
}

.main-container .__time-btn {
  border-radius: 0.2rem;
  width: 30%;
  height: 2rem;
  color: white;
  font-size: 1.5em;
  background: linear-gradient(135deg, #6CA3FF, #A4AAF9);
  margin-bottom: 1.5rem;
}

.main-container .__confirm-btn {
  bottom: 0;
  width: 15%;
  height: 2rem;
  background: linear-gradient(135deg, #8AB5FF, #5B9CFF);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: white;
  font-size: 1.5em;
  border-bottom: none;
}

.main-container .listbox {
  width: 50%;
  font-size: 1.3em;
  color: #707070;
}

.main-container::-webkit-scrollbar {
  width: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.main-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.main-container::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 10px 10px #ADDEFF;
          box-shadow: inset 0 0 10px 10px #ADDEFF;
  border: 0.35rem solid transparent;
}

.time-input-container {
  background: linear-gradient(160deg, rgba(165, 195, 247, 0.65), rgba(213, 255, 255, 0.65));
  width: 100%;
  height: 85vh;
  display: none;
}

.time-input {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.time-input .__hours-input {
  height: 100%;
  width: 50%;
  margin-top: -2rem;
}

.time-input .__hours-input .__hours-bar {
  width: 2.5rem;
  height: 2.25rem;
  background: linear-gradient(135deg, #8E84EB, #A5C3F7);
  border-radius: 1rem;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.time-input .__minutes-input {
  height: 100%;
  width: 50%;
  margin-top: -2rem;
}

.time-input .__minutes-input .__minutes-bar {
  width: 2.5rem;
  height: 2.25rem;
  background: linear-gradient(-135deg, #8E84EB, #A5C3F7);
  border-radius: 1rem;
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
}

.time-input .__label {
  font-size: 1.5em;
  width: 1.5rem;
  color: #707070;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
}

.time-input .__colon {
  color: #707070;
  padding-bottom: 0.5rem;
}

.time-input .__plus {
  top: 4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  padding-bottom: 0.25rem;
  color: #717AFF;
  font-size: 3em;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.time-input .__minus {
  bottom: 4rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  padding-bottom: 0.25rem;
  color: #717AFF;
  font-size: 3em;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.time-input .__time-confirm-button {
  width: 4.5rem;
  height: 1.75rem;
  bottom: 1rem;
  font-size: 2.25em;
  color: white;
  background-color: #717AFF;
  border-radius: 0.25rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */