
body {
  font-size: 65%;
  display: grid;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0px;
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head head" 1fr
                 "nav  main schedule" 6fr
                 / 1fr 3.5fr 1fr;

}

.header {
  grid-area: head;
}

.navigation-bar {
  grid-area: nav;
}

.tasks-box {
  grid-area: main;
  // position: relative;
}

.schedule {
  grid-area: schedule;
}

.template {
  display: none;
}

@media (max-width: 1000px) {
  body {
    font-size: 60%;
  }

  .navigation-bar {
    & .nav-btn {
      width: 3.25rem;
      height: 3.25rem;
    }
  }

  .task-page {
    width: 72%;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 55%;
    grid-template: "head head" 1fr
                 "nav  main" 6fr
                 / 1.5fr 4fr;
  }

  .header {
    
    & .__mainTitle {
      font-size: 3em;
    }

    & .__next-task {
      display: none;
    }

  }

  .navigation-bar {
    & .nav-btn {
      width: 2.5rem;
      height: 2.5rem;
    }

    & .__settings {

      & .__bug-report {
        margin-left: 0.7rem;

        & img {
          left: -0.35rem;
        }
      }
    }
  }

  .task-page {
    width: 68%;
  }

  
}

@media (max-height: 550px) {
  .navigation-bar {

    & .__nav-button-box {
      margin-top: 15%;
      margin-bottom: 15%;
    }
  }
}

