
body {
  font-size: 65%;
  display: grid;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(110deg, $medium-grey-2 20%, $light-grey-3 250%);
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head head" 1fr
                 "nav  main main" 6fr
                 / 1fr 3.5fr 1fr;
}

.header {
  grid-area: head;
}

.navigation-bar {
  grid-area: nav;
}

.day-menu {
  grid-area: main;
  // position: relative;
}

.footer {
  grid-area: foot;
  min-height: 0;
}

.template {
  display: none;
}

