
body {
  font-size: 65%;
  display: grid;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head head" 1fr
                 "nav  main schedule" 6fr
                 / 1fr 3.5fr 1fr;
}

.header {
  grid-area: head;
}

.navigation-bar {
  grid-area: nav;
}

.tasks-box {
  grid-area: main;
  // position: relative;
}

.schedule {
  grid-area: schedule;
}

.template {
  display: none;
}

