.upper {
  text-transform: uppercase;
}

.no-marg {
  margin: 0;
}

.no-padd {
  padding: 0;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.transi-03 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transi-05 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hz-align-text {
  text-align: center;
}

.hz-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hz-align-margins {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vt-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-5 {
  font-size: 5em;
}

.fs-3 {
  font-size: 3em;
}

.fs-2 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-175 {
  font-size: 1.75em;
}

.of-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-y-hidden {
  overflow-y: hidden;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.fw-1 {
  font-weight: 100;
}

.fw-5 {
  font-weight: 500;
}

.fw-9 {
  font-weight: 900;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-15 {
  z-index: 15;
}

.red {
  background-color: red;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.br-50 {
  border-radius: 50%;
}

.ws-pre {
  white-space: pre;
}

.ws-no-wrap {
  white-space: nowrap;
}

.border-grey-1 {
  border: 1px solid #707070;
}

.border-grey-05 {
  border: 0.5px solid #707070;
}

.opacity-05 {
  opacity: 0.5;
}

body {
  font-size: 65%;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  background: linear-gradient(110deg, #D9D9D9 20%, #F9F9F9 250%);
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head head" 1fr "nav  main schedule" 6fr / 1fr 3.5fr 1fr;
}

.header {
  grid-area: head;
}

.navigation-bar {
  grid-area: nav;
}

.tasks-box {
  grid-area: main;
}

.schedule {
  grid-area: schedule;
}

.header {
  background: linear-gradient(130deg, #5B9CFF, #619AF0);
}

.header .__mainTitle {
  margin-left: 2em;
  border-left: 1px solid #B8F5FF;
  color: white;
  padding-left: 0.8em;
}

.header .__next-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 25%;
  border-radius: 5em;
  right: 5vmin;
  background: -webkit-gradient(linear, left top, right top, from(#A4AAF9), color-stop(60%, #448CF8), color-stop(60%, white));
  background: linear-gradient(90deg, #A4AAF9, #448CF8 60%, white 60%);
}

.header .__next-task .__task-title {
  overflow-x: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: calc(60% - 2em);
  color: white;
  border-right: 1px solid #707070;
}

.header .__next-task .__timer {
  color: #707070;
  width: 40%;
  height: 100%;
}

.header .__next-task ::-webkit-scrollbar {
  display: none;
}

.navigation-bar {
  background: linear-gradient(10deg, #A5C3F7, #B5C9FF);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-right: 1em;
  padding-left: 1em;
}

.navigation-bar .__day-label {
  width: 65%;
  height: 3.75rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: none;
  background: linear-gradient(145deg, #2D7AFF, #73B9FF);
  color: white;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.75rem;
}

.navigation-bar .__add-task-btn {
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 12%;
  background: linear-gradient(145deg, #717AFF, #A1FFFF);
  -webkit-box-shadow: 5px 5px 4px rgba(52, 0, 255, 0.2);
          box-shadow: 5px 5px 4px rgba(52, 0, 255, 0.2);
}

.navigation-bar .__add-task-btn .__icon {
  color: white;
  height: 4.5rem;
  width: 4.5rem;
  font-family: 'Trebuchet MS', serif;
  font-size: 6.25em;
}

.navigation-bar .__calendar-btn {
  height: 2.75rem;
  width: 65%;
  margin-top: 12%;
  color: white;
  border-radius: 0.75rem;
  background: linear-gradient(145deg, #8AB5FF, #6CA3FF);
  -webkit-box-shadow: 3px 3px 4px rgba(52, 0, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(52, 0, 255, 0.2);
}

.navigation-bar .__completed-tasks {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.navigation-bar .__important-tasks {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.navigation-bar .__label {
  font-family: 'Trebuchet MS', serif;
  color: #707070;
  font-size: 0.8rem;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin-left: 7%;
}

.navigation-bar .__check-box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.25rem;
  border: 0.5px solid #707070;
  background-color: white;
}

.navigation-bar .checked {
  background-color: #717AFF;
}

.navigation-bar .__nav-button-box {
  margin-top: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation-bar .nav-btn {
  height: 4rem;
  width: 4rem;
  background: linear-gradient(145deg, #717AFF, #A4AAF9);
  border-radius: 1rem;
  cursor: pointer;
}

.navigation-bar .nav-btn .__icon {
  width: 50%;
  height: 50%;
}

.tasks-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#E4EFFF), to(white));
  background: linear-gradient(#E4EFFF, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
}

.tasks-box::-webkit-scrollbar {
  width: 1.2rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.tasks-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.tasks-box::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 10px 10px #ADDEFF;
          box-shadow: inset 0 0 10px 10px #ADDEFF;
  border: 0.35rem solid transparent;
}

.task-card {
  height: 25%;
  margin-top: 1.5rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.task-card .__main {
  background: linear-gradient(155deg, #84AEFF, #D5FFFF 150%);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0.5rem;
}

.task-card .__main .__title {
  height: 50%;
  padding-left: 2rem;
  font-size: 2.65em;
  font-family: 'Trebuchet MS', serif;
  color: white;
}

.task-card .__main .__start-time {
  right: 4.5rem;
  bottom: 1.5rem;
  color: #8E84EB;
}

.task-card .__main .__more-button {
  right: 0.5rem;
  bottom: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.7em;
  color: white;
  border: 2px solid white;
  background: linear-gradient(30deg, #4F637A, #284880);
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.task-card .__side-button-box {
  width: 4rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-card .__side-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.75em;
  padding-right: 0.2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-left: none;
  background-color: white;
}

.task-card .__complete-btn {
  color: #C0FFB5;
}

.task-card .__remove-btn {
  color: #FF8080;
}

.schedule {
  background: -webkit-gradient(linear, left top, left bottom, from(#DFE8FF), to(#E0F9FF));
  background: linear-gradient(#DFE8FF, #E0F9FF);
  position: relative;
  border-top: none;
}

.schedule .__hour-spans {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.schedule .__hour-spans .__4-hours:not(:last-child) {
  border-bottom: 0.5px solid #86817C;
}

.schedule .__tasks-spans-box {
  position: absolute;
  left: 10%;
  width: 90%;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.schedule .__tasks-spans-box .__task-span {
  position: absolute;
  border-radius: 0rem;
  border: 1px solid #86817C;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.schedule .__tasks-spans-box .__task-span:hover {
  -webkit-box-shadow: 0.1rem 0.2rem rgba(134, 129, 124, 0.2);
          box-shadow: 0.1rem 0.2rem rgba(134, 129, 124, 0.2);
  border: 1px solid #D9D9D9;
}

.schedule .__tasks-spans-box #task1 {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 5%;
  height: 30%;
  top: 33.6%;
  background: linear-gradient(110deg, linen, darkred 550%);
}

.schedule .__tasks-spans-box #task2 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  width: 5%;
  height: 25%;
  top: 16.7%;
  background: linear-gradient(110deg, linen, darkblue 550%);
}

.schedule .__tasks-spans-box #task3 {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  width: 5%;
  height: 15%;
  top: 50.5%;
  background: linear-gradient(110deg, linen, darkgreen 550%);
}

.schedule .__tasks-spans-box #task4 {
  -webkit-transform: translateX(240%);
          transform: translateX(240%);
  width: 5%;
  height: 25%;
  top: 59.1%;
  background: linear-gradient(110deg, linen, darkorange 550%);
}

.task-page {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  -webkit-box-shadow: inset 0px 0px 0.3rem 0.3rem rgba(134, 129, 124, 0.4);
          box-shadow: inset 0px 0px 0.3rem 0.3rem rgba(134, 129, 124, 0.4);
  padding: 1rem;
  background-color: #F9F9F9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 10%;
  width: 100%;
  left: 0;
  display: none;
  overflow: hidden;
  min-height: 90%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task-page .__sticker-important {
  position: absolute;
  right: 0.5rem;
  top: 0;
  z-index: 10;
  width: 1rem;
  height: 1.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-150%, #3a3835), to(darkred));
  background: linear-gradient(#3a3835 -150%, darkred);
  -webkit-clip-path: polygon(50% 65%, 100% 100%, 100% 0, 0 0, 0 98%);
          clip-path: polygon(50% 65%, 100% 100%, 100% 0, 0 0, 0 98%);
  text-align: center;
  color: #F9F9F9;
  font-weight: 500;
  font-size: 1.2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task-page .__sticker-important:hover {
  font-weight: 900;
}

.task-page .__sticker-hover-important {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 5;
  height: 0;
  width: 0;
  overflow: hidden;
  border-radius: 0.1rem;
  white-space: nowrap;
  background-color: #3a3835;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F9F9F9;
  font-weight: 900;
  font-size: 0.1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task-page .__sticker-important:hover ~ .__sticker-hover-important {
  right: 2rem;
  font-size: 1.2em;
  width: 20%;
  height: 10%;
}

.task-page .__edit-btn {
  position: absolute;
  background-color: #3a3835;
  line-height: 1.2em;
  left: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  font-size: 1.4em;
  color: #D6CAB0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.task-page .__edit-btn:hover {
  padding: 0.1rem;
  width: 2rem;
  height: 2rem;
  color: #FFF;
}

.task-page h3 {
  font-size: 1.5em;
  -webkit-text-decoration: #D6CAB0 underline;
          text-decoration: #D6CAB0 underline;
}

.task-page .__description {
  font-size: 1.2em;
  padding-left: 0.5rem;
  border-left: 2px solid #D6CAB0;
}

.task-page span {
  color: #282726;
  font-size: 1.3em;
}

.task-page .__timer {
  font-size: 1.4em;
}
/*# sourceMappingURL=main.css.map */