@charset "UTF-8";
.upper {
  text-transform: uppercase;
}

.no-marg {
  margin: 0;
}

.no-padd {
  padding: 0;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.transi-03 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.transi-05 {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hz-align-text {
  text-align: center;
}

.hz-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hz-align-margins {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.vt-align-margins {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.vt-align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fs-5 {
  font-size: 5em;
}

.fs-3 {
  font-size: 3em;
}

.fs-2 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-175 {
  font-size: 1.75em;
}

.of-hidden {
  overflow-x: hidden;
  overflow-y: hidden;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-y-hidden {
  overflow-y: hidden;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.h-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pointer {
  cursor: pointer;
}

.fw-1 {
  font-weight: 100;
}

.fw-5 {
  font-weight: 500;
}

.fw-9 {
  font-weight: 900;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

.z-15 {
  z-index: 15;
}

.red {
  background-color: red;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.br-50 {
  border-radius: 50%;
}

.ws-pre {
  white-space: pre;
}

.ws-no-wrap {
  white-space: nowrap;
}

.border-grey-1 {
  border: 1px solid #707070;
}

.border-grey-05 {
  border: 0.5px solid #707070;
}

.opacity-05 {
  opacity: 0.5;
}

.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.col-1-of-1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.col-1-of-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-1-of-3 {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.header {
  background: linear-gradient(130deg, #5B9CFF, #619AF0);
  height: 14.3vh;
}

.header .__mainTitle {
  margin-left: 2em;
  border-left: 1px solid #B8F5FF;
  color: white;
  padding-left: 0.8em;
}

.header .__next-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 25%;
  border-radius: 5em;
  right: 5vmin;
  background: -webkit-gradient(linear, left top, right top, from(#A4AAF9), color-stop(60%, #448CF8), color-stop(60%, white));
  background: linear-gradient(90deg, #A4AAF9, #448CF8 60%, white 60%);
}

.header .__next-task .__task-title {
  overflow-x: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: calc(60% - 2em);
  color: white;
  border-right: 1px solid #707070;
}

.header .__next-task .__timer {
  color: #707070;
  width: 40%;
  height: 100%;
}

.header .__next-task ::-webkit-scrollbar {
  display: none;
}

.header .__quit-calendar-btn {
  color: white;
  font-size: 6em;
  height: 100%;
  right: 2rem;
  top: 0.5rem;
}

.navigation-bar {
  background: linear-gradient(10deg, #A5C3F7, #B5C9FF);
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-right: 1em;
  padding-left: 1em;
}

.navigation-bar .__day-label {
  width: 65%;
  height: 3.75rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top: none;
  background: linear-gradient(145deg, #2D7AFF, #73B9FF);
  color: white;
  font-family: 'Trebuchet MS', serif;
  line-height: 1.75rem;
}

.navigation-bar .__add-task-btn {
  height: 4.5rem;
  width: 4.5rem;
  margin-top: 12%;
  background: linear-gradient(145deg, #717AFF, #A1FFFF);
  -webkit-box-shadow: 2px 2px 4px rgba(52, 0, 255, 0.2);
          box-shadow: 2px 2px 4px rgba(52, 0, 255, 0.2);
}

.navigation-bar .__add-task-btn:hover {
  -webkit-box-shadow: 4px 4px 4px rgba(52, 0, 255, 0.2);
          box-shadow: 4px 4px 4px rgba(52, 0, 255, 0.2);
  border: 0.5px solid #A9A9A9;
}

.navigation-bar .__add-task-btn:active .__icon {
  color: white;
}

.navigation-bar .__add-task-btn .__icon {
  color: #F1F1F1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 4.5rem;
  height: 4.25rem;
  font-family: 'Trebuchet MS', serif;
  font-size: 7.25em;
}

.navigation-bar .__calendar-btn {
  height: 2.75rem;
  width: 75%;
  margin-top: 12%;
  color: white;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #8AB5FF, #6CA3FF);
  -webkit-box-shadow: 3px 3px 4px rgba(52, 0, 255, 0.2);
          box-shadow: 3px 3px 4px rgba(52, 0, 255, 0.2);
}

.navigation-bar .__calendar-btn:hover {
  border-radius: 0.75rem;
  border: 0.5px solid #A9A9A9;
}

.navigation-bar .__completed-tasks {
  margin-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.navigation-bar .__important-tasks {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
}

.navigation-bar .__label {
  font-family: 'Trebuchet MS', serif;
  color: #707070;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.navigation-bar .__check-box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.25rem;
  border: 0.5px solid #707070;
  background-color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-bar .checked {
  background-color: #5B9CFF;
}

.navigation-bar .__nav-button-box {
  margin-top: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navigation-bar .nav-btn {
  height: 4rem;
  width: 4rem;
  background: linear-gradient(145deg, rgba(113, 122, 255, 0.5), rgba(164, 170, 249, 0.5));
  border-radius: 0.5rem;
  font-size: 3em;
  padding-bottom: 3px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: inset 1px 1px 1px 1px rgba(113, 122, 255, 0.4);
          box-shadow: inset 1px 1px 1px 1px rgba(113, 122, 255, 0.4);
}

.navigation-bar .nav-btn:hover {
  font-size: 3.2em;
}

.navigation-bar .nav-btn:active {
  -webkit-box-shadow: inset 1px 1px 5px 5px rgba(113, 122, 255, 0.4);
          box-shadow: inset 1px 1px 5px 5px rgba(113, 122, 255, 0.4);
}

.navigation-bar .__prev-day {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-box-shadow: inset -1px -1px 1px 1px rgba(113, 122, 255, 0.4);
          box-shadow: inset -1px -1px 1px 1px rgba(113, 122, 255, 0.4);
  background: linear-gradient(145deg, rgba(164, 170, 249, 0.5), rgba(113, 122, 255, 0.5));
}

.tasks-box {
  background: -webkit-gradient(linear, left top, left bottom, from(#E4EFFF), to(white));
  background: linear-gradient(#E4EFFF, white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
}

.tasks-box::-webkit-scrollbar {
  width: 1.2rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.tasks-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.tasks-box::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 10px 10px #ADDEFF;
          box-shadow: inset 0 0 10px 10px #ADDEFF;
  border: 0.35rem solid transparent;
}

.task-card {
  height: 25%;
  margin-top: 1.5rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.task-card .__main {
  background: linear-gradient(155deg, #84AEFF, #D5FFFF 150%);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 6px rgba(165, 195, 247, 0.7);
          box-shadow: 5px 5px 6px rgba(165, 195, 247, 0.7);
}

.task-card .__main .__title {
  max-height: 50%;
  padding-top: 1.5rem;
  padding-left: 5%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 2.35em;
  font-family: 'Trebuchet MS', serif;
  color: white;
}

.task-card .__main .__title::-webkit-scrollbar {
  display: none;
}

.task-card .__main .__start-time {
  right: 4.5rem;
  bottom: 1.5rem;
  color: #8E84EB;
}

.task-card .__main .__more-button {
  right: 0.5rem;
  bottom: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.7em;
  color: white;
  border: 2px solid white;
  background: linear-gradient(30deg, #4F637A, #284880);
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.task-card .__main .__uncheck-btn {
  right: 1rem;
  top: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #6CA3FF;
  display: none;
  font-size: 2.5em;
}

.task-card .__main .__uncheck-btn::after {
  content: "☑";
}

.task-card .__main .__uncheck-btn:hover::after {
  content: "☐";
}

.task-card .__main .__important-mark {
  left: 0.5rem;
  bottom: 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
  background-color: rgba(255, 128, 128, 0.6);
}

.task-card .completed {
  border: 1px solid #448CF8;
}

.task-card .__side-button-box {
  width: 2.5rem;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task-card .__side-button {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.75em;
  padding-right: 0.2rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  border-left: none;
  background-color: white;
}

.task-card .__complete-btn {
  color: #8AB5FF;
}

.task-card .__remove-btn {
  color: #448CF8;
}

.small-task-card {
  margin-top: 1rem;
  height: 18%;
}

.small-task-card .__main .__title {
  max-height: 100%;
  padding-top: 1rem;
}

.small-task-card .__main .__start-time {
  opacity: 0;
}

.small-task-card .__main .__more-button {
  -webkit-transform: none;
          transform: none;
}

.small-task-card .__side-button-box {
  width: 2rem;
}

.small-task-card .__side-button-box .__side-button {
  height: 2rem;
  width: 2rem;
  font-size: 2.5em;
}

.schedule {
  background: -webkit-gradient(linear, left top, left bottom, from(#DFE8FF), to(#E0F9FF));
  background: linear-gradient(#DFE8FF, #E0F9FF);
  position: relative;
  border-top: none;
}

.schedule .__hour-spans {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.schedule .__hour-spans .__4-hours:not(:last-child) {
  border-bottom: 0.5px solid #A9A9A9;
}

.schedule .__tasks-spans-box {
  width: 100%;
  height: 100%;
}

.schedule .__tasks-spans-box .__task-span {
  position: absolute;
  border-radius: 2rem;
  width: 80%;
  cursor: pointer;
  background: linear-gradient(130deg, #C3D9FF, #FBC6FF);
  border: 0.5px solid #707070;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.schedule .__tasks-spans-box .__task-span:hover {
  border: 0.5px solid #A9A9A9;
}

.schedule .__tasks-spans-box .completed {
  border: 1px solid #448CF8;
}

.task-page {
  width: 74%;
  height: 70%;
  left: -1rem;
  background-color: white;
  display: none;
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.task-page .__sticker-important {
  right: 1.85rem;
  border-top: none;
  width: 1.2rem;
  height: 1.8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 70%, 0 100%);
  background-color: #FF8080;
  color: white;
  font-size: 1.55em;
  cursor: default;
}

.task-page .__sticker-hover-important {
  width: 0rem;
  height: 0rem;
  opacity: 0;
  right: 2.45rem;
  top: 0.5rem;
  font-size: 0em;
  color: white;
  border-radius: 0.2rem;
  background: linear-gradient(145deg, #A4AAF9, #FF8080);
}

.task-page .__sticker-important:hover ~ .__sticker-hover-important {
  width: 4.25rem;
  height: 1.75rem;
  top: 2rem;
  right: 2.5rem;
  font-size: 1.15em;
  opacity: 1;
}

.task-page .__edit-btn {
  margin: 0.2rem;
  width: 1.75rem;
  height: 1.75rem;
  color: #707070;
  border-radius: 0.3rem;
  background-color: white;
}

.task-page .__info-box {
  width: calc(100% - 2rem);
  height: calc(100% - 3.5rem);
  padding: 1rem;
  padding-top: 2.5rem;
  overflow: auto;
  color: #707070;
  font-weight: 300;
  font-family: 'Ebrima', serif;
  display: -ms-grid;
  display: grid;
  grid-template: "d d d d d d" "s s e e c c" "r r r n n n";
  row-gap: 1.25rem;
}

.task-page .__info-box .__desc-container {
  grid-area: d;
}

.task-page .__info-box .__start-container {
  grid-area: s;
}

.task-page .__info-box .__end-container {
  grid-area: e;
}

.task-page .__info-box .__cd-container {
  grid-area: c;
}

.task-page .__info-box .__repeat-container {
  grid-area: r;
}

.task-page .__info-box .__notif-container {
  grid-area: n;
}

.task-page .__info-box h3 {
  font-size: 1.45em;
  margin: 0;
  font-weight: 300;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}

.task-page .__info-box p {
  text-justify: left;
  border-left: 0.5px solid #A4AAF9;
  padding-left: 0.5rem;
  font-size: 1.3em;
}

.task-page .__info-box span {
  font-size: 2.25em;
}

.task-page .__info-box .__repeat {
  font-size: 1.45em;
}

.task-page .__info-box .__notification {
  font-size: 1.45em;
}

.task-page .__info-box::-webkit-scrollbar {
  width: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

.task-page .__info-box::-webkit-scrollbar-track {
  background-color: transparent;
}

.task-page .__info-box::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  -webkit-box-shadow: inset 0 0 10px 10px #ADDEFF;
          box-shadow: inset 0 0 10px 10px #ADDEFF;
  border: 0.35rem solid transparent;
}

.calendar {
  display: none;
  width: 100%;
  top: 14.3%;
  height: 85.7%;
  z-index: 100;
  background-color: white;
}

.calendar .__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90%;
}

.calendar .__main-container :not(:last-child) {
  border-right: 0.5px solid #707070;
}

.calendar .__main-container .__day {
  -ms-flex-preferred-size: 14.3%;
      flex-basis: 14.3%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar .__main-container .__day .__title {
  border: none;
  text-transform: uppercase;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  letter-spacing: 0.7px;
  font-weight: 400;
  color: #5B9CFF;
  font-size: 1.35em;
}

.calendar .__main-container .__day .__day-box {
  position: relative;
  font-family: 'Ebrima', serif;
  border-radius: 0.2rem;
  background-color: #FCFCFC;
  border: 0.5px solid #707070;
  color: #5B9CFF;
  width: 10vmin;
  height: 10vmin;
  margin-top: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5em;
  cursor: pointer;
}

.calendar .__main-container .__day .__day-box .__curr-day-mark {
  position: absolute;
  bottom: 3px;
  font-size: 0.4em;
  border: none;
}

.calendar .__main-container .__day .__day-box .__curr-day-mark::after {
  content: "✵";
}

.calendar .__main-container .__day .__day-box .__today-mark {
  position: absolute;
  top: 5px;
  font-size: 0.3em;
}

.calendar .__main-container .__day .__day-box .__today-mark::after {
  content: "TODAY";
}

.calendar .__footer {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.calendar .__footer .__month-title {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  height: 100%;
  border-right: 0.5px solid #707070;
  border-left: 0.5px solid #707070;
  color: #5B9CFF;
  font-size: 2.25em;
}

.calendar .__footer .__month-title b {
  margin-left: 0.5rem;
}

.calendar .__footer .__btn {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
  height: 100%;
  color: #5B9CFF;
  font-size: 2.5em;
}

.calendar .__footer .__prevbutton {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

body {
  font-size: 65%;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  overflow: hidden;
  margin: 0px;
  font-family: "Calibri", serif;
  height: 100vh;
  grid-template: "head head head" 1fr "nav  main schedule" 6fr / 1fr 3.5fr 1fr;
}

.header {
  grid-area: head;
}

.navigation-bar {
  grid-area: nav;
}

.tasks-box {
  grid-area: main;
}

.schedule {
  grid-area: schedule;
}

.template {
  display: none;
}
/*# sourceMappingURL=main.css.map */