
.day-card {
    background-color: $medium-grey-3;
    margin: 0em;
    display: grid;
    // min-width: 0;
    // min-height: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    grid-template: "titleT titleD titleD titleS" 1fr
                   "task task schedule schedule" 14fr
                   / 3fr 1fr 1fr 3fr;

    & .__title-task {
        grid-area: titleT;
        background-color: $dark-grey-2;
        text-align: left;
        font-weight: 300;
        // text-transform: uppercase;
        padding-left: 1rem;
        font-size: 2.5em;
        color: $light-grey-3;
    }

    & .__title-day {
        grid-area: titleD;
        background-color: $medium-grey-2;
        text-align: center;
        font-weight: 300;
        // text-transform: uppercase;
        font-size: 2.5em;
        color: $dark-grey-2;
    }

    & .__title-schedule {
        grid-area: titleS;
        background-color: $dark-grey-2;
        text-align: right;
        font-weight: 300;
        // text-transform: uppercase;
        padding-right: 1rem;
        font-size: 2.5em;
        color: $light-grey-3;
    }

    & .__tasks-box {
        position: relative;
        grid-area: task;
        overflow-y: auto;
        overflow-x: hidden;
        border-right: 1px solid $medium-grey-1;          

    }

    & .__schedule {
        grid-area: schedule;
        background-color: yellow;
    }
   
}