
.day-card {
    background-color: $medium-grey;
    border-radius: 0.5em;
    margin: 1em;

    & .__day-title {
        font-size: 3em;
        color: $light-grey-1;
        font-weight: 100;
        margin: 0.5em;
        position: relative;
        top: 0.3em;
    }

    & .__tasks-to-display {
        margin: 1em;
        border-top: 1px solid $medium-grey;
        border-radius: 0.2em;
    }

    & .__task-card {
        box-shadow: 0px 0px 1px 1px rgba($dark-grey-2, 0.4);
        margin-top: 1em;
        padding: 1em;
        border-radius: 2em;
    }

}