
.header {
  background: $dark-grey-1;
  padding: 0px;
  display: inline-flex;
  align-items: center;

  & .__mainTitle {
    width: fit-content;
    font-size: 4em;
    color: $light-grey-1;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 2em;
    padding-left: 0.3em;
    border-left: 1px solid $dark-grey-2;
  }

  & .__date {
    color: $light-grey-1;
    margin-left: 4em;
    font-size: 3em;
    text-transform: uppercase;

  }
}
