
.header {
  background: linear-gradient(130deg, $dark-grey-1, $dark-grey-3 125%);
  padding: 0px;
  display: inline-flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);

  & .__mainTitle {
    transition: all 0.5s;
    position: relative;
    margin-left: 3em;
    min-width: 30%;
    height: 4em;

    & h1 {
      position: absolute;
      margin: 0;
      height: 100%;
      width: fit-content;
      border-left: 1px solid $dark-grey-2;
      font-size: 4em;
      color: $light-grey-3;
      white-space: pre;
      font-weight: 100;
      text-transform: uppercase;
      padding-left: 0.3em;
      transition: all 0.5s;

    }

    & .weekx {
      opacity: 0;
    }

    &:hover > .weekx {
      opacity: 1;
      transform: rotateY(360deg);
    }

    &:hover > .yourweek {
      opacity: 0;
      transform: rotateY(360deg);
    }

  }
    
  & .__time-container {
    width: 50%;
    height: 4em;
    position: relative;
    vertical-align: middle;

    & .__text-second {
      color: $light-grey-1;
      width: fit-content;
      padding-top: 0.2em;
      height: 100%;
      font-weight: 100;
      font-size: 3em;
      transition: all 0.2s;
      text-transform: uppercase;

    }

    & .__date {
      position: absolute;
      opacity: 1;

    }

    & .__time {
      position: absolute;
      opacity: 0;
      transition: all 0.3s; 
    }

    &:hover > .__time {
      opacity: 1;
      transform: translateX(150%);
    }
  }
} 
