
.header {
  background: linear-gradient(130deg, $dark-grey-1, $dark-grey-3 125%);
  padding: 0px;
  display: inline-flex;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
  

  & .__mainTitle {
    width: fit-content;
    font-size: 4em;
    color: $light-grey-3;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 2em;
    padding-left: 0.3em;
    border-left: 1px solid $dark-grey-2;
    transition: all 0.5s;
    

    &:hover {
      font-weight: 300;
      transform: skew(-15deg);
    }
  }

  & .__date {
    color: $light-grey-1;
    margin-left: 4em;
    font-weight: 100;
    font-size: 3em;
    transition: all 0.2s;
    text-transform: uppercase;

    &:hover {
      font-size: 3.1em;
    }

  }
}
