
.day-selection-bar {
  color: $light-grey-1;
  text-transform: uppercase;
  display: flex;
  background-color: $dark-grey-2;
  flex-flow: column;

  .__day-button {
    box-shadow: 1px 0px 1px 1px #4040400d;
    text-align: center;
    background: linear-gradient(110deg, $dark-grey-2, $medium-grey);
    transition: all 0.2s;
    height: 14%;

    &:hover {
      background: linear-gradient(110deg, $medium-grey, $dark-grey-2);
  }

    &:active {
      box-shadow: 0px 0px transparent;
      transform: translate(0px, 2px);
    }
  }
}
