
.task-card {
    transition: all 0.4s;
    position: absolute;
    box-shadow: inset 0px 0px 0.3rem 0.3rem rgba($medium-grey-1, 0.4);
    padding: 1rem;
    background-color: $light-grey-3;
    box-sizing: border-box;
    top: 10%;
    left: 0;
    width: 100%;
    min-height: 90%;
    transform: translateX(100%);
    transition: all 0.5s;

    & .__sticker-important {
        position: absolute;
        right: 0.5rem;
        top: 0;
        z-index: 10;
        width: 1rem;
        height: 1.5rem;
        background: linear-gradient($dark-grey-3 -150%, darkred);
        clip-path: polygon(50% 65%, 100% 100%, 100% 0, 0 0, 0 98%);
        text-align: center;
        color: $light-grey-3;
        font-weight: 500;
        font-size: 1.2em;
        transition: all 0.3s;

        &:hover {
            font-weight: 900;
        }
    }
    
    & .__sticker-hover-important {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
        z-index: 5;
        height: 0;
        width: 0;
        overflow: hidden;
        border-radius: 0.1rem;
        white-space: nowrap;
        background-color: $dark-grey-3;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $light-grey-3;
        font-weight: 900;
        font-size: 0.1em;
        transition: all 0.3s;
    }

    & .__sticker-important:hover ~ .__sticker-hover-important {
        right: 2rem;
        font-size: 1.2em;
        width: 20%;
        height: 10%;

    }

    & .__edit-btn {
        position: absolute;
        background-color: $dark-grey-3;
        line-height: 1.2em;
        left: 0;
        top: 0;
        width: 1.8rem;
        height: 1.8rem;
        clip-path: polygon(0 0, 100% 0, 0 100%);
        font-size: 1.4em;
        color: $light-grey-1;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
            padding: 0.1rem;
            width: 2rem;
            height: 2rem;
            color: #FFF;

        }

    }

    & h3 {
        font-size: 1.5em;
        text-decoration: $light-grey-1 underline;
    }

    & .__description {
        
        font-size: 1.2em;
        padding-left: 0.5rem;
        border-left: 2px solid $light-grey-1;
    }

    & span {
        color: $dark-grey-1;
        font-size: 1.3em;
    }

    & .__timer {
        font-size: 1.4em;
    }

}