
.day-selection-bar {
  color: $dark-green-2;

  & .__day-button {
    box-shadow: 1px 0px 1px 1px #4040400d;
    text-align: center;
    transition: all 0.5s;
    height: 10%;
  }

  & :hover {
      background-color: linear-gradient(110deg, rgba($dark-green-2, 0.8), rgba($medium-green, 0.8));;
  }

  & :active {
    box-shadow: 0px 0px #4040400d;
    transform: translate(0px, 2px);
  }

}
