
.header {
  background: linear-gradient(130deg, $medium-blue-1, $medium-blue-2);

  & .__mainTitle {
    margin-left: 2em;
    border-left: 1px solid $lighter-blue-1;
    color: white;
    padding-left: 0.8em;

  }

  & .__next-task {
    display: flex;
    height: 70%;
    width: 25%;
    border-radius: 5em;
    right: 5vmin;
    background: linear-gradient(90deg, $medium-blue-3, $medium-blue-4 60%, white 60%);

    & .__task-title {
      overflow-x: auto;
      padding-left: 1em;
      padding-right: 1em;
      width: calc(60% - 2em);
      color: white;
      border-right: 1px solid $dark-grey-2;
    }

    & .__timer {
      color: $dark-grey-2;
      width: 40%;
      height: 100%;
    }

    & ::-webkit-scrollbar {
      display: none;
    }
  }
    
} 
