
.day-menu .__schedule {
    background-color: $light-grey-3;
    position: relative;
    display: grid;
    grid-template: "labels spans" 1fr / 1fr 9fr;
    

    & .__hours-labels {
        grid-area: labels;
        display: flex;
        position: relative;
        flex-direction: column;
        background: linear-gradient(120deg, rgba($medium-grey-3, 0.8), rgba($medium-grey-1, 0.8) 180%);

        & .__label {
            text-align: center;
            transform: translateY(90%);
            width: 100%;
            height: 16.7%;
            font-weight: 300;
            color: $dark-grey-1;
            font-size: 1.3em;
        }
    }

    & .__hour-spans {
        grid-area: spans;
        position: relative;

        & .__4-hours {
            height: 16.7%;

            &:not(:last-child) {
                border-bottom: 1px solid $medium-grey-1;
            }
    
        }        

    }

    & .__tasks-spans-box {
        position: absolute;
        left: 10%;
        width: 90%;
        height: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        & .__task-span {
            position: absolute;
            border-radius: 0rem;
            border: 1px solid $medium-grey-1;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0.1rem 0.2rem rgba($medium-grey-1, 0.2);
                border: 1px solid $medium-grey-2;
            }

        }

        & #task1 {
            transform: translateX(0);
            width: 5%;
            height: 30%;
            top: 33.6%;
            background: linear-gradient(110deg, linen, darkred 550%);
        }

        & #task2 {
            transform: translateX(120%);
            width: 5%;
            height: 25%;
            top: 16.7%;
            background: linear-gradient(110deg, linen, darkblue 550%);
        }

        & #task3 {
            transform: translateX(120%);
            width: 5%;
            height: 15%;
            top: 50.5%;
            background: linear-gradient(110deg, linen, darkgreen 550%);
        }

        & #task4 {
            transform: translateX(240%);
            width: 5%;
            height: 25%;
            top: 59.1%;
            background: linear-gradient(110deg, linen, darkorange 550%);
        }

    }

}