
.schedule {
    background: linear-gradient($lighter-blue-3, $lighter-blue-4);
    position: relative;
    border-top: none;
    
    & .__hour-spans {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(6, 1fr);

        & .__4-hours {

            &:not(:last-child) {
                border-bottom: 0.5px solid #A9A9A9;
            }
    
        }        

    }

    & .__tasks-spans-box {
        width: 100%;
        height: 100%;

        & .__task-span {
            position: absolute;
            border-radius: 2rem;
            width: 80%;
            cursor: pointer;
            background: linear-gradient(130deg, $light-blue-6, $light-pink-1);
            border: 0.5px solid $dark-grey-1;
            transition: all 0.2s;

            &:hover {
                border: 0.5px solid #A9A9A9;
            }

        }

        & .completed {
            border: 1px solid $medium-blue-4;      
        }
     

    }

}