
.schedule {
    background: linear-gradient($lighter-blue-3, $lighter-blue-4);
    position: relative;
    border-top: none;
    
    

    & .__hour-spans {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: stretch;

        & .__4-hours {

            &:not(:last-child) {
                border-bottom: 0.5px solid $medium-grey-1;
            }
    
        }        

    }

    & .__tasks-spans-box {
        position: absolute;
        left: 10%;
        width: 90%;
        height: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        & .__task-span {
            position: absolute;
            border-radius: 0rem;
            border: 1px solid $medium-grey-1;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                box-shadow: 0.1rem 0.2rem rgba($medium-grey-1, 0.2);
                border: 1px solid $medium-grey-2;
            }

        }

        & #task1 {
            transform: translateX(0);
            width: 5%;
            height: 30%;
            top: 33.6%;
            background: linear-gradient(110deg, linen, darkred 550%);
        }

        & #task2 {
            transform: translateX(120%);
            width: 5%;
            height: 25%;
            top: 16.7%;
            background: linear-gradient(110deg, linen, darkblue 550%);
        }

        & #task3 {
            transform: translateX(120%);
            width: 5%;
            height: 15%;
            top: 50.5%;
            background: linear-gradient(110deg, linen, darkgreen 550%);
        }

        & #task4 {
            transform: translateX(240%);
            width: 5%;
            height: 25%;
            top: 59.1%;
            background: linear-gradient(110deg, linen, darkorange 550%);
        }

    }

}